<main class="ms-0 me-0 ps-0 pe-0">
    <nav class="nav ms-0 ps-0">
        {{#each navigation.links}}
            <div class="nav-item">
                {{#if href}}
                    <a href="{{href}}" class="nav-link active" target="_blank">{{text}}</a> 
                {{/if}}                    
            </div>
        {{/each}}
        <a class="nav-link disabled" target="_blank">Disabled</a>
    </nav>
    <hr>
    <header>
        {{#with header}}
            <h1>{{title}}</h1>
            <a href="{{button.link}}" class="my-3 btn btn-outline-secondary" target="_blank">{{button.text}}</a>
        {{/with}}
    </header>
    <hr>
    <section class="m-0 p-0">
        {{> cartGoodsItem}}
    </section>
    <hr>
    <section>
        {{#with total}}
            <h2 class="py-2">{{title}}</h2>
            <h1>{{amount}}</h1>
            <div class="py-2">{{delivery}}</div>
            {{#each buttons}}
                <div class="row">
                    <div class="col-12 py-2">
                        {{#if isSuccess}}
                            <a href="{{link}}" class="btn btn-success">{{text}}</a>
                        {{else isOutline}}
                            <a href="{{link}}" class="btn btn-outline-success">{{text}}</a>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        {{/with}}
    </section>
    <hr>
    <section>
        {{#with goodsOtherBlock}}
            <h2 class="text-center">{{title}}</h2>
            <div class="row">
                {{#each cards}}
                    <div class="col-4">        
                        <div class="card m-1">
                            <img class="card-img-top" src="{{image}}">
                            <div class="card-body">
                                <h5 class="card-title">{{title}}</h5>
                                {{#if isHot}}
                                    <span class="badge rounded-pill text-bg-warning m-1">Hot!</span>
                                {{/if}}
                                {{#if idNew}}
                                    <span class="badge rounded-pill text-bg-primary m-1">Нове</span>
                                {{/if}}
                                <p>{{description}}</p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/with}}
    </section>
    <hr>
    <section class="row">
        {{#with subscribe}}
            <div class="card ps-0 pe-0">
                <div class="card-body  bg-dark text-light">
                    <h2 class="col-12 py-2">{{header}}</h2>
                    <p class="col-12 py-2">{{description}}</p>
                    {{#each buttons}}
                        <div class="col-12 py-2">
                            <a href="{{link}}" target="_blank" class="btn btn-primary">{{text}}</a>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/with}}
    </section>
    <hr>
    <footer class="ms-0 me-0">
        <div class="nav">
            {{#each footer}}
                <nav class="nav-item col-2 my-2 ps-0 pe-0 mt-0 ms-0 me-0">
                    {{#each this}}
                        <a href="{{link}}" target="_blank" class="nav-link active">{{text}}</a>
                    {{/each}}
                    <a href="#" class="nav-link disabled">Disabled</a>
                </nav>
            {{/each}}
        </div>
    </footer>
</main>